/*  -- Fonts --  */

@import "../fonts/fonts.css";
@import "../fonts/cuprum/cuprum.css";

body {
  background-color: #171a1c;
  font-family: "Century Gothic Regular";
  color: #fff;
  position: relative;
}

/*  -- Header --  */

.logoBanner {
  width: 1100px;
  height: 160px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.logoContainer {
  min-width: 1100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.logoContainer img {
  width: 500px;
  height: 128px;
  margin-bottom: 8px;
}

.banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}

.bannerArea {
  width: 520px;
  height: 75px;
  background-color: #16181a;
  font-size: 39px;
  line-height: 75px;
  color: #83ae01;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bannerLeft {
  margin-right: 2px;
  width: 30px;
  height: 75px;
  background-color: #83ae01;
}

.navSearch {
  width: 100%;
  height: 45px;
  background-color: #141618;
}

.navContainer {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

nav {
  display: -webkit-box;
  display: flex;
}

.navbar {
  padding: 0 10px;
  line-height: 45px;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar:hover {
  background-color: #83ad01;
}

.triangleContainer,
.dropMenu {
  position: absolute;
  z-index: 100;
  display: none;
}

.navbar.p3:hover .p3 {
  display: block;
}

.triangleContainer {
  width: 100px;
  height: 15px;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
}

.TopTriangle {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 16px;
  height: 10px;
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background-color: rgba(0, 0, 0, 0.8);
}

.dropMenu {
  left: 0px;
  top: 60px;
  width: 170px;
  height: 260px;
  box-sizing: border-box;
  padding-top: 7px;
  background-color: rgba(0, 0, 0, 0.8);
}

.partOfMenu {
  display: -webkit-box;
  display: flex;
  line-height: 27px;
}

.partOfMenu:hover .leftMenu {
  background-color: #83ae01;
}

.partOfMenu:hover .rightMenu {
  background-color: rgba(0, 0, 0, 0.5);
}

.leftMenu {
  width: 7px;
  height: 27px;
}

.rightMenu {
  box-sizing: border-box;
  padding-left: 7px;
  padding-bottom: 3px;
  width: 161px;
  height: 27px;
  line-height: 24px;
  font-size: 14px;
}

.searchArea {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navContainer input {
  width: 220px;
  height: 32px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #1d2124;
  background-color: #17191c;
  padding: 0 10px;
  outline:none;
}

.navContainer input:hover {
  background-color: #2c2f35;
}

.btnSearch {
  width: 34;
  height: 34px;
  padding: 6px;
  margin: 0 2px;
  background-color: #83ad01;
  border: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.btnSearch:hover {
  background-color: #6e9105;
}

.btnSearch::after {
  content: "";
  clear: both;
  display: table;
}

/*  -- Main --  */

main {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.bgContainer {
  width: 1100px;
  height: 419px;
  padding: 0;
  position: relative;
}

.bgImage {
  margin: 0;
  padding: 0;
  width: 1100px;
  height: 419px;
  overflow: hidden;
}

.bgContainer:hover .bgBtnContainer {
  visibility: visible;
}

.bgContainer:hover .bgBtn {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.bgBtnContainer {
  position: absolute;
  top: 50%;
  z-index: 4;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 1100px;
  box-sizing: border-box;
  padding: 0 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  visibility: hidden;
}

.bgBtn {
  width: 71px;
  height: 71px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bgContainer:hover .bgBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.bgLeft,
.bgRight {
  font-size: 50px;
  text-align: center;
  margin-bottom: 2px;
  margin-left: -2px;
}

.bgNumberContainer {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 4;
  width: 138px;
  height: 7px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  opacity: 0.5;
  visibility: hidden;
}

.bgNumbers {
  width: 7px;
  height: 7px;
  background-color: #191c1f;
  border-radius: 50%;
  cursor: pointer;
}

.selectedBg {
  background-color: #83ad01;
}

.bgNumbers:hover {
  background-color: #58626b;
}

.bgContainer:hover .bgNumberContainer {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.selectedBg:hover {
  background-color: #83ad01;
}

.backgroundContent {
  position: absolute;
  bottom: 43px;
  right: 25px;
  z-index: 2;
  min-width: 511px;
  height: 71px;
  margin-right: 25px;
  letter-spacing: -1px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.backgroundContent h2,
.backgroundContent h3,
.backgroundContent h4 {
  color: #fff;
}

.backgroundContent h3,
.backgroundContent h4 {
  font-size: 18px;
}

.backgroundContent h2 {
  font-size: 30px;
}

.backgroundContent h3 {
  font-style: italic;
}

.underBg {
  width: 1100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #121416;
}

.leftNavContainer,
.rightNavContainer {
  width: 617px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #272c30;
  margin-bottom: 12px;
}

.rightNavContainer {
  width: 463px;
  height: 51px;
}

.rightNav {
  width: 463px;
}

.navCategory {
  margin-top: 20px;
  height: 31px;
  margin-left: 11px;
}

.navCategory a {
  margin-right: 1px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 31px;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  background-color: #191c1f;
}
.navCategory a:hover {
  background-color: #272c30;
}

.scrollNavBtn {
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  margin: 15px 0 5px 0;
}

.leftPartBtn {
  padding-right: 11px;
}

.prev,
.next {
  margin: 0 1px;
  width: 29px;
  height: 29px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.triangle1,
.triangle2 {
  background-color: #fff;
  position: relative;
  left: 1px;
  width: 11px;
  height: 11px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.triangle1 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: -1px;
}

.filmContainer {
  display: -webkit-box;
  display: flex;
  margin-left: 11px;
}

.filmPost {
  position: relative;
}

.filmPost.nom1 {
  z-index: 4;
  margin-right: 6px;
}

.filmPost.nom2 {
  z-index: 3;
  margin: 0 6px;
}

.filmPost.nom3 {
  z-index: 2;
  margin: 0 6px;
}

.filmPost.nom4 {
  z-index: 1;
  margin-left: 6px;
}

.filmPost a {
  display: -webkit-box;
  display: flex;
  text-decoration: none;
}

.filmPost a:link,
.filmPost a:visited {
  color: #fff;
}

.poster {
  width: 140px;
  height: 210px;
}

.poster:hover {
  margin: -6px -6px -6px -6px;
  border: 6px solid #020202;
}

.filmPost section {
  position: absolute;
  left: 140px;
  height: 210px;
  border: 6px solid #020202;
  border-right: 0px;
  margin: -6px 0 -6px 6px;
  padding: 0 14px 0 3px;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.filmPost:hover section {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.filmPost:hover section:hover {
  visibility: hidden;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.filmPost h2 {
  padding: 7px 0 11px 0;
  font-size: 12px;
  color: #6b8f09;
  text-transform: uppercase;
}

.filmPost p {
  min-width: 206px;
  max-width: 206px;
  height: 160px;
  font-size: 11px;
  line-height: 13px;
}

.filmPost div {
  width: 100px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.filmPost div img {
  width: 24px;
  height: 15px;
}

.filmPost span {
  font-size: 11px;
}

.playerContainer {
  width: 438px;
  height: 276px;
  box-sizing: border-box;
  border: 1px solid #1d2023;
  background-color: #171a1c;
  margin: 0 auto 12px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.player {
  width: 50px;
  height: 52px;
  background-color: #434950;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  cursor: pointer;
}

.contentContainer {
  width: 1100px;
  height: 1127px;
  display: -webkit-box;
  display: flex;
}

.content {
  width: 818px;
  box-sizing: border-box;
}

.bigContent {
  height: 307px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #191c1e;
}

.someInformation {
  width: 769px;
  height: 258px;
}

.someInformation h2 {
  margin-top: -5px;
  font-size: 24px;
  margin-bottom: 20px;
}

.someInformation div {
  display: -webkit-box;
  display: flex;
}

.someInformation img {
  width: 302px;
  height: 216px;
}

.someInformation span {
  font-size: 14px;
  margin-left: 9px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.mainBottom {
  height: 747px;
  background-color: #131517;
}

.aboutPerson {
  height: 654px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
}

.leftPart,
.rightPart {
  height: 130px;
  box-sizing: border-box;
  padding-left: 10px;
  border-bottom: 1px solid #171a1c;
  cursor: pointer;
}

.leftPart {
  width: 408px;
  border-right: 1px solid #171a1c;
}

.rightPart {
  width: 410px;
}

.leftPart h2,
.rightPart h2 {
  padding: 14px 0 9px 0;
  font-size: 12px;
}

.leftPart div,
.rightPart div {
  display: -webkit-box;
  display: flex;
}

.leftPart img,
.rightPart img {
  width: 116px;
  height: 87px;
}

.leftPart p,
.rightPart p {
  color: #434950;
  min-width: 64px;
  padding-left: 10px;
  font-size: 11px;
}

.pageNumber {
  width: 408px;
  height: 98px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.pages {
  width: 408px;
  font-size: 24px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.pages .currentPage,
.pages .currentPage:link {
  color: #434950;
}

.prev.currentPage,
.next.currentPage {
  border: 1px solid #272c30;
}

.currentPage .triangle1,
.currentPage .triangle2 {
  background-color: #272c30;
}

.pages a {
  color: #fff;
  text-decoration: none;
}

.pages a:link {
  color: #fff;
}

.bottomBtn {
  padding-left: 14px;
}

.nextbtn {
  margin-left: 2px;
}

.rightBox {
  width: 282px;
  height: 1054px;
  background-color: #1d2023;
  box-sizing: border-box;
  padding: 15px 13px;
}

.rightBox h2 {
  font-size: 14px;
  margin-bottom: 15px;
}

.csGame {
  display: -webkit-box;
  display: flex;
}

.csGame.n2 {
  margin: 12px 0 14px 0;
}

.csGame img {
  width: 100px;
  height: 75px;
}

.textContainer {
  font-size: 14px;
  color: #434950;
  padding-top: 3px;
  padding-left: 6px;
}

.csGame .forColor {
  color: #fff;
}

.bunnerPlace {
  width: 256px;
  height: 344px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #30353a;
}

.bunnerPlace img {
  width: 178px;
  height: 128px;
}

.bunnerPlace h6 {
  font-size: 24px;
  margin-top: 14px;
  color: #434950;
}

/*  -- footer --  */

footer {
  width: 100%;
  height: 95px;
  margin: 0 auto;
  background-color: #141618;
}

.footerDiv {
  width: 1100px;
  margin: 0 auto;
  line-height: 95px;
  display: -webkit-box;
  display: flex;
}

.footerLogo {
  box-sizing: border-box;
  width: 397px;
  height: 95px;
  text-align: center;
  background-color: #1d2023;
  font-size: 36px;
}

.textSize {
  font-size: 24px;
}

.forL {
  color: #83ad01;
}

.developer {
  font-size: 14px;
  margin-left: 18px;
  color: #434950;
}

.developer span {
  color: #ddd;
}

.forUsers {
  box-sizing: border-box;
  padding: 10px 13px;
  font-size: 16px;
  font-family: "Cuprum";
  position: fixed;
  z-index: 10;
  right: -52px;
  top: 257px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #fff;
  background-color: #83ae01;
  text-decoration: none;
}

.forUsers:hover {
  background-color: #729701;
  font-size: 18px;
  right: -57px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
