@font-face {
  font-family: "Century Gothic Regular";
  src: url("CenturyGothic.eot");
  src: url("CenturyGothic.eot?#iefix") format("embedded-opentype"),
    url("CenturyGothic.woff") format("woff"),
    url("CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
