@media screen and (max-width: 480px) {
  * img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  body {
    z-index: 0;
  }

  .lock {
    overflow: hidden;
  }

  /*  -- Header --  */

  header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 8;
    background-color: #171a1c;
  }

  .logoBanner {
    width: 100vw;
    height: 80px;
  }

  .logoContainer {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .logoContainer img {
    width: 250px;
    height: 64px;
    position: absolute;
    top: 8px;
    left: 20px;
  }

  .banner {
    display: none;
  }

  .menuIconWrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    z-index: 20;
    position: -webkit-sticky;
    position: sticky;
    right: 20px;
    top: 13px;
    background-color: #16181a;
  }

  .menuIcon {
    width: 40px;
    height: 7px;
    background-color: #83ad01;
    position: relative;
    border-radius: 5px;
    -webkit-transition: 0.2s ease-in 0.2s;
    transition: 0.2s ease-in 0.2s;
  }

  .menuIcon::before {
    content: "";
    width: 40px;
    height: 7px;
    display: block;
    background-color: #83ad01;
    position: absolute;
    top: -15px;
    border-radius: 5px;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  }

  .menuIcon::after {
    content: "";
    width: 40px;
    height: 7px;
    display: block;
    position: absolute;
    background-color: #83ad01;
    top: 15px;
    border-radius: 5px;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  }

  .menuIcon.menuIconActive {
    background-color: transparent;
  }

  .menuIcon.menuIconActive::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  }
  .menuIcon.menuIconActive::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  }

  .forMobile {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    display: none;
    background-color: #141618;
    overflow-x: hidden;
    -webkit-transform: all ease-in 0.3s;
            transform: all ease-in 0.3s;
  }

  .forUsers {
    padding: 0;
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    z-index: 20;
    box-sizing: border-box;
    font-family: "Cuprum";
    position: fixed;
    left: 200px;
    top: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    color: #fff;
    background-color: #83ae01;
    text-decoration: none;
  }

  .forUserBack::after {
    content: "";
    width: 100vh;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    background-color: #171a1c;
  }

  .forUsers:hover {
    background-color: #83ae01;
    font-size: 20px;
    left: 200px;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }

  .searchArea {
    display: none;
  }

  .searchArea1 {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 70;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .searchArea1 input {
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding: 0 4px;
    box-sizing: border-box;
    outline: none;
    border: none;
  }

  .btnSearch1 {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 2px;
    background-color: #83ad01;
    border: 0px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border-radius: 0%;
    position: relative;
  }

  .btnSearch1 img {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 22px;
    height: 22px;
  }

  /*  -- Menu -- */

  .navSearch {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    padding: 0 15px;
    z-index: 15;
  }

  .navContainer {
    box-sizing: border-box;
    margin: 0 auto;
    display: -webkit-box;
    display: block;
    width: 100%;
    height: auto;
  }

  nav {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  }

  .navbar {
    width: 100vw;
    height: 60px;
    margin: 15px 0;
    border-bottom: 1px solid #83ae01;
    line-height: 60px;
    font-size: 25px;
    display: block;
    box-sizing: border-box;
    position: relative;
    left: 0;
    top: 0;
    letter-spacing: 2.5px;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }

  .navbar a {
    display: block;
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%;
    font-size: 25px;
  }

  .navbar span {
    padding: 0 35px;
  }

  .navbar:hover {
    background-color: inherit;
  }

  .navbar.part3 .p3,
  .navbar.part3:hover .p3 {
    display: none;
  }

  .navbar::before {
    content: "";
    width: 20px;
    height: 60px;
    background-color: #83ae01;
    position: absolute;
    left: 0;
    top: -1px;
    z-index: 20;
    display: block;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }

  .navbar:nth-child(3)::after {
    content: "";
    width: 30px;
    height: 20px;
    background-color: #83ae01;
    position: absolute;
    right: 50px;
    top: 20px;
    border: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }

  .navbar.part3.navActive {
    height: 100%;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }

  .navbar.navActive span {
    background-color: #83ae01;
  }

  .navbar.part3.navActive::before {
    background-color: #141618;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }

  .navbar.part3.navActive::after {
    background-color: #141618;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 20px;
  }

  .triangleContainer {
    display: none;
  }

  .navbar.part3:hover .p3 {
    display: none;
  }

  .dropMenu {
    padding: 0;
    top: 0;
    left: -35px;
    position: static;
    z-index: 20;
    width: 99%;
    height: 100%;
    background-color: #171a1c;
    display: none;
    visibility: visible;
    -webkit-transform: all 1s ease 1s;
    transform: all 1s ease 1s;
  }

  .dropMenu.p3 {
    display: none;
  }

  .dropMenu.dropActive {
    display: block;
    -webkit-transform: all 1s ease 1s;
    transform: all 1s ease 1s;
  }

  .partOfMenu {
    display: -webkit-box;
    display: flex;
    border-bottom: 1px solid #83ad01;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .partOfMenu:hover {
    background-color: none;
  }

  .partOfMenu:hover .rightMenu {
    background-color: none;
  }

  .leftMenu {
    display: none;
  }

  .navbar a a {
    display: block;
    box-sizing: border-box;
    padding-left: 30px;
    margin: 0;
    width: 480px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  .rightMenu {
    display: block;
    box-sizing: border-box;
    padding-left: 30px;
    margin: 0px;
    width: 480px;
    height: 40px;
    line-height: 37px;
    font-size: 20px;
    padding: 0;
    position: relative;
  }

  .rightMenu::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 10px;
    width: 10px;
    height: 15px;
    -webkit-clip-path: polygon(0 0, 100% 50%, 0% 100%);
    clip-path: polygon(0 0, 100% 50%, 0% 100%);
    background-color: #83ae01;
  }

  .partOfMenu:nth-child(9) {
    border: none;
  }

  .triangleContainer.p3 {
    display: none;
  }

  .mobileHamburgerMenu {
    display: block;
    -webkit-transform: all ease-in 0.3s;
    transform: all ease-in 0.3s;
  }

  /*  -- Main --  */

  main {
    top: 80px;
    width: 100vw;
    height: auto;
    position: relative;
  }

  .bgContainer,
  .bgSlideContainer,
  .bgSlide {
    width: 100vw;
  }

  .bgImage {
    width: 100vw;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
  }

  .bgBtnContainer {
    width: 100vw;
    height: 100%;
    padding: 0;
  }

  .bgBtn {
    width: 10vh;
    height: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .bgContainer:hover .bgBtn {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .bgContainer:hover .bgBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .bgLeft,
  .bgRight {
    font-size: 50px;
  }

  .bgNumberContainer {
    visibility: visible;
  }

  .backgroundContent {
    bottom: 25px;
    right: 20px;
    min-width: 40vh;
  }

  .backgroundContent h3,
  .backgroundContent h4 {
    font-size: 9px;
  }

  .backgroundContent h2 {
    font-size: 14px;
  }

  .underBg {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    position: static;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  /* .undeBgDiv1 {
    margin-bottom: 10px;
    box-sizing: border-box;
  } */

  .leftNavContainer,
  .rightNavContainer {
    width: 100vw;
    border-bottom: 1px solid #272c30;
    margin-bottom: 5px;
  }

  .leftNavContainer {
    width: 100vw;
    margin: 5px 0 0 0;
  }

  .rightNavContainer {
    width: 100vw;
    height: 40px;
    margin-top: 5px;
  }

  .navCategory {
    margin: 0;
    height: 40px;
    overflow: hidden;
  }

  .navCategory a {
    display: inline-block;
    height: 40px;
    margin-right: -1px;
    padding: 0 9px;
    font-size: 14px;
    line-height: 40px;
  }
  .navCategory a:hover {
    background-color: #272c30;
  }

  .scrollNavBtn {
    margin: 5px;
  }

  .leftPartBtn {
    padding-right: 11px;
  }

  .prev,
  .next {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .triangle1,
  .triangle2 {
    background-color: #fff;
    position: relative;
    left: 1px;
    width: 11px;
    height: 11px;
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  .triangle1 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: -2px;
  }

  .filmContainer {
    padding-top: 10px;
    margin-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    background-color: rgb(0, 0, 0);
    display: block;
  }

  .filmPost {
    position: unset;
    width: 100%;
    margin: 0;
    padding: 0 0 10px 10px;
  }

  .filmPost.nom1 {
    z-index: 4;
    margin: 0;
    padding: 0 0 10px 5px;
  }

  .filmPost.nom2 {
    z-index: 3;
    margin: 0;
    padding: 0 0 10px 10px;
  }

  .filmPost.nom3 {
    z-index: 2;
    margin: 0;
    padding: 0 0 10px 10px;
  }

  .filmPost.nom4 {
    z-index: 1;
    margin: 0;
    padding: 0 0 10px 10px;
  }

  .poster {
    width: 140px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .poster:hover {
    margin: 0;
    border: none;
  }

  .filmPost section {
    position: unset;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    border: none;
    border-right: 0px;
    margin: 0 0 0 10px;
    padding: 0 14px 0 3px;
    background-color: rgb(0, 0, 0);
    visibility: visible;
  }

  .filmPost:hover section {
    visibility: visible;
    background-color: rgb(0, 0, 0);
    -webkit-transition: none;
    transition: none;
  }

  .filmPost:hover section:hover {
    visibility: visible;
    -webkit-transition-delay: none;
    transition-delay: none;
  }

  .filmPost h2 {
    padding: 5px 0;
    font-size: 16px;
    color: #6b8f09;
    text-transform: uppercase;
  }

  .filmPost p {
    min-width: 210px;
    max-width: 400px;
    height: 160px;
    font-size: 13px;
    line-height: 13px;
  }

  .filmPost div {
    display: none;
  }

  .playerContainer {
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid #1d2023;
    background-color: #171a1c;
    margin: 12px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .player {
    width: 50px;
    height: 60px;
    background-color: #434950;
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    cursor: pointer;
  }

  .contentContainer {
    width: 100%;
    height: 1127px;
    display: -webkit-box;
    display: flex;
  }

  .content {
    width: 100%;
    box-sizing: border-box;
  }

  .bigContent {
    height: auto;
    background-color: #191c1e;
    position: relative;
    box-sizing: border-box;
  }

  .someInformation {
    width: 100%;
    height: auto;
    position: relative;
    top: 6px;
    left: 0;
    box-sizing: border-box;
  }

  .someInformation h2 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .someInformation div {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }

  .someInformation img {
    width: 90vw;
    height: auto;
  }

  .someInformation span {
    font-size: 14px;
    margin-left: 0;
    margin: 10px 10px 10px 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .someInformation p:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .mainBottom {
    height: auto;
    display: block;
  }

  .aboutPerson {
    height: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
  }

  .leftPart,
  .rightPart {
    width: 100%;
    height: 130px;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #171a1c;
    cursor: pointer;
    position: relative;
  }

  .leftPart {
    width: 100%;
    border-right: none;
  }

  .rightPart {
    width: 100%;
  }

  .leftPart h2,
  .rightPart h2 {
    padding: 14px 0 9px 0;
    font-size: 12px;
  }

  .leftPart div,
  .rightPart div {
    display: -webkit-box;
    display: flex;
  }

  .leftPart img,
  .rightPart img {
    width: 116px;
    height: 87px;
  }

  .leftPart p,
  .rightPart p {
    color: #434950;
    min-width: 150px;
    max-width: 300px;
    padding-left: 10px;
    font-size: 11px;
  }

  .pageNumber {
    width: 100%;
    height: 115px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .pages {
    width: 100%;
    font-size: 26px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
  }

  .pages .currentPage,
  .pages .currentPage:link {
    color: #434950;
  }

  .prev.currentPage,
  .next.currentPage {
    border: 1px solid #272c30;
  }

  .currentPage .triangle1,
  .currentPage .triangle2 {
    background-color: #272c30;
  }

  .pages a {
    color: #fff;
    text-decoration: none;
  }

  .pages a:link {
    color: #fff;
  }

  .bottomBtn {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .nextBtn {
    margin-left: 50px;
  }

  .rightBox {
    display: none;
  }

  /*  -- footer --  */

  footer {
    position: relative;
    left: 0;
    bottom: -935px;
    width: 100vw;
    height: 190px;
    background-color: #141618;
    overflow: hidden;
  }

  .footerDiv {
    width: 100%;
    line-height: 95px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background-color: #141618;
  }

  .footerLogo {
    box-sizing: border-box;
    width: 100%;
    height: 95px;
    text-align: center;
    background-color: #1d2023;
    font-size: 36px;
  }

  .textSize {
    font-size: 24px;
  }

  .forL {
    color: #83ad01;
  }

  .developer {
    font-size: 14px;
    color: #434950;
    width: 100%;
    text-align: center;
  }

  .developer span {
    color: #ddd;
  }

}
